<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{{ question.question_text }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>{{ question.question_text }}</h1>
    <table>
        <tr>
            <th>odp</th>
            <th>głosy</th>
        </tr>
    {% for choice in question.choices.all %}
        <tr>
            <td>{{ choice.choice_text }}</td>
            <td>{{ choice.votes }}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'polls:choice_add' question.id %}">Dodaj nowe wybór</a>
    <a href="{% url 'polls:question_list'%}">Cofnij</a>
</body>
</html>