<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>niewiem</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Moje Super Świetne Pytania :)</h1>
<h4>Ładne style to pojęcie względne</h4>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Pytanie</th>
            <th>Data Opublikowania</th>
            <th>Typ Pytania</th>
        </tr>
   {% for question in questions %}
       <tr>
           <td>{{ question.id }}</td>
           <td><a href="{% url 'polls:question_detail' question.id %}"> {{ question.question_text }} </a></td>
           <td>{{ question.pub_date }}</td>
           {% if question.is_open_question %}
                <td>Otwarte</td>
           {% else %}
                <td>Zamknięte</td>
           {% endif %}
       </tr>
   {% endfor %}
    </table>
    <a href="{% url 'polls:question_add' %}">Dodaj nowe pytanie</a>
</div>
</body>
</html>